<.header>
  Listing Agents
  <:actions>
    <.link :if={@current_user} patch={~p"/agents/new"}>
      <.button>New Agent</.button>
    </.link>
  </:actions>
</.header>

<.table_frame
  empty_message="No agents found!"
  empty?={Enum.count(@streams.agents) == 0}
  meta={@meta}
  path={~p"/agents/"}
  filter_fields={@filter_fields}
>
  <.flop_table
    items={@streams.agents}
    row_click={fn {_id, agent} -> JS.navigate(~p"/agents/#{agent}") end}
    meta={@meta}
    path={~p"/agents/"}
    opts={flop_table_options(assigns)}
  >
    <:col :let={{_, agent}} label="Name" field={:name}><%= agent.name %></:col>
    <:col :let={{_, agent}} label="Description" field={:description}>
      <%= agent.description %>
    </:col>
    <:col :let={{_, agent}} label="Status" field={:status}>
      <.agent_status_badge status={agent.status} />
    </:col>
    <:col :let={{_, agent}} label="Owner" field={:owner_email}><%= agent.owner.email %></:col>

    <:action :let={{_id, agent}}>
      <div class="sr-only">
        <.link navigate={~p"/agents/#{agent}"}>Show</.link>
      </div>
      <.link :if={@check_ownership.(agent)} patch={~p"/agents/#{agent}/edit"}>
        Edit
      </.link>
    </:action>
    <:action :let={{id, agent}}>
      <.link
        :if={@check_ownership.(agent)}
        phx-click={JS.push("delete", value: %{id: agent.id}) |> hide("##{id}")}
        data-confirm="Are you sure?"
      >
        Delete
      </.link>
    </:action>
  </.flop_table>
</.table_frame>

<.modal
  :if={@live_action in [:new, :edit]}
  id="agent-modal"
  show
  on_cancel={JS.patch(~p"/agents")}
>
  <.live_component
    module={IpdthWeb.AgentLive.FormComponent}
    id={@agent.id || :new}
    title={@page_title}
    action={@live_action}
    agent={@agent}
    current_user={@current_user}
    patch={~p"/agents"}
  />
</.modal>
