<.header>
  Listing Agents
  <:actions>
    <.link patch={~p"/agents/new"}>
      <.button>New Agent</.button>
    </.link>
  </:actions>
</.header>

<%!-- TODO: 2024-02-03 -- Create agent_badge component that matches colors to agent state --%>

<.table
  id="agents"
  rows={@streams.agents}
  row_click={fn {_id, agent} -> JS.navigate(~p"/agents/#{agent}") end}
>
  <:col :let={{_id, agent}} label="Name"><%= agent.name %></:col>
  <:col :let={{_id, agent}} label="Status"><%= agent.status %></:col>
  <:col :let={{_id, agent}} label="Owner"><%= agent.owner.email %></:col>
  <:col :let={{_id, agent}} label="Description"><%= agent.description %></:col>
  <:action :let={{_id, agent}} >
    <.link :if={agent.status != :active && agent.owner.id == @current_user.id}
      phx-click={JS.push("activate", value: %{id: agent.id})}>
      Activate
    </.link>
    <.link :if={agent.status == :active && agent.owner.id == @current_uer.id}
      phx-click={JS.push("deactivate", value: %{id: agent.id})}>
      Deactivate
    </.link>
  </:action>
  <:action :let={{_id, agent}}>
    <div class="sr-only">
      <.link navigate={~p"/agents/#{agent}"}>Show</.link>
    </div>
    <.link :if={agent.owner.id == @current_user.id} patch={~p"/agents/#{agent}/edit"}>
      Edit
    </.link>
  </:action>
  <:action :let={{id, agent}}>
    <.link
      :if={agent.owner.id == @current_user.id}
      phx-click={JS.push("delete", value: %{id: agent.id}) |> hide("##{id}")}
      data-confirm="Are you sure?"
    >
      Delete
    </.link>
  </:action>
</.table>

<.modal :if={@live_action in [:new, :edit]} id="agent-modal" show on_cancel={JS.patch(~p"/agents")}>
  <.live_component
    module={IpdthWeb.AgentLive.FormComponent}
    id={@agent.id || :new}
    title={@page_title}
    action={@live_action}
    agent={@agent}
    current_user={@current_user}
    patch={~p"/agents"}
  />
</.modal>
