<.header>
  <%= @agent.name %>
  <:subtitle><%= @agent.description %></:subtitle>
  <:actions>
    <.link
      :if={@check_ownership.(@agent)}
      patch={~p"/agents/#{@agent}/show/edit"}
      phx-click={JS.push_focus()}
    >
      <.button>Edit agent</.button>
    </.link>
  </:actions>
  <:actions>
    <.link
      :if={@check_ownership.(@agent)}
      patch={~p"/agents/#{@agent}/show/signup"}
      phx-click={JS.push_focus()}
    >
      <.button>Signup agent</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item :if={@check_ownership.(@agent)} title="Url">
    <span class="font-mono"><%= @agent.url %></span>
  </:item>
  <:item :if={@check_ownership.(@agent)} title="Bearer token">
    <span class="font-mono"><%= @agent.bearer_token %></span>
  </:item>
  <:item title="Status"><.agent_status_badge status={@agent.status} /></:item>
  <:item title="Owner"><%= @agent.owner.email %></:item>
  <:item title="Agent ID"><%= @agent.id %></:item>
</.list>

<.header :if={not @signed_up_for_tournaments?} class="mt-20">
  Currently Not Signed Up for any Tournaments
</.header>

<.header :if={@signed_up_for_tournaments?} class="mt-20">Signed Up for Tournaments</.header>

<.table
  :if={@signed_up_for_tournaments?}
  id="tournaments"
  rows={@streams.tournaments}
  row_click={fn {_id, tournament} -> JS.navigate(~p"/tournaments/#{tournament}") end}
>
  <:col :let={{_id, tournament}} label="Name"><%= tournament.name %></:col>
  <:col :let={{_id, tournament}} label="Description"><%= tournament.description %></:col>
  <:col :let={{_id, tournament}} label="Status">
    <.badge color="green"><%= tournament.status %></.badge>
  </:col>
  <:col :let={{_id, tournament}} label="Start date">
    <%= Calendar.strftime(tournament.start_date, "%Y-%m-%d %H:%M:%S") %>
  </:col>
  <:col :let={{_id, tournament}} label="End date">
    <%= tournament.end_date && Calendar.strftime(tournament.end_date, "%Y-%m-%d %H:%M:%S") %>
  </:col>
  <:col :let={{_id, tournament}} label="Number of Rounds"><%= tournament.round_number %></:col>
  <:action :let={{_id, tournament}}>
    <div class="sr-only">
      <.link navigate={~p"/tournaments/#{tournament}"}>Show</.link>
    </div>
  </:action>
</.table>

<.back navigate={~p"/agents"}>Back to agents</.back>

<.modal
  :if={@live_action == :edit && @check_ownership.(@agent)}
  id="agent-modal"
  show
  on_cancel={JS.patch(~p"/agents/#{@agent}")}
>
  <.live_component
    module={IpdthWeb.AgentLive.FormComponent}
    id={@agent.id}
    title={@page_title}
    action={@live_action}
    agent={@agent}
    current_user={@current_user}
    patch={~p"/agents/#{@agent}"}
  />
</.modal>

<.modal
  :if={@live_action == :signup && @check_ownership.(@agent)}
  id="agent-signup-modal"
  show
  on_cancel={JS.patch(~p"/agents/#{@agent}")}
>
  <.live_component
    module={IpdthWeb.AgentLive.SingupComponent}
    id={@agent.id}
    title={@page_title}
    action={@live_action}
    agent={@agent}
    current_user={@current_user}
    patch={~p"/agents/#{@agent}"}
  />
</.modal>
