<.header>
  <%= @agent.name %>
  <:subtitle><%= @agent.description %></:subtitle>
  <:actions>
    <.link :if={@check_ownership.(@agent)} patch={~p"/agents/#{@agent}/show/edit"} phx-click={JS.push_focus()}>
      <.button>Edit agent</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item :if={@check_ownership.(@agent)} title="Url"><span class="font-mono"><%= @agent.url %></span></:item>
  <:item :if={@check_ownership.(@agent)} title="Bearer token"><span class="font-mono"><%= @agent.bearer_token %></span></:item>
  <:item title="Status"><.agent_status_badge status={@agent.status} /></:item>
  <:item title="Owner"><%= @agent.owner.email %></:item>
  <:item title="Agent ID"><%= @agent.id %></:item>
</.list>

<.back navigate={~p"/agents"}>Back to agents</.back>

<.modal
  :if={@live_action == :edit && @check_ownership.(@agent)}
  id="agent-modal"
  show
  on_cancel={JS.patch(~p"/agents/#{@agent}")}
>
  <.live_component
    module={IpdthWeb.AgentLive.FormComponent}
    id={@agent.id}
    title={@page_title}
    action={@live_action}
    agent={@agent}
    current_user={@current_user}
    patch={~p"/agents/#{@agent}"}
  />
</.modal>
