<.header>
  <%= @agent.name %>
  <:subtitle>Agent #<%= @agent.id %></:subtitle>
</.header>

<%!-- TODO: 2024-01-28 - Better display of attributes w.r.t layout --%>
<.list>
  <:item title="Description"><%= @agent.description %></:item>
  <:item title="Status"><%= @agent.status %></:item>
</.list>

<%!-- TODO: 2024-01-28 - show stats of agent, list of participated tournaments, user profile --%>

<.back navigate={~p"/agents"}>Back to agents</.back>

