<.header>
  Match <%= @match.id %>
  <:subtitle>This is a match record from your database.</:subtitle>
</.header>

<.list>
  <:item title="Start date"><%= @match.start_date %></:item>
  <:item title="End date"><%= @match.end_date %></:item>
  <:item title="Score a"><%= @match.score_a %></:item>
  <:item title="Score b"><%= @match.score_b %></:item>
</.list>
