<.live_component
  module={IpdthWeb.Components.PageHeader}
  id="page_header"
  active_page={@active_page}
  current_user={@current_user}
/>
<main class="px-4 py-20 sm:px-6 lg:px-8">
  <div class="mx-auto">
    <%= @inner_content %>
  </div>
</main>
<%!-- TODO: 2024-01-28 think about making the flash group a flex-col in order to stack flash messages --%>
<.flash_group flash={@flash} />
